@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: black;
	color: white;
}

.container {
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
	padding-bottom: 40px;
}

.add-task {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.main-input {
	font-size: 18px;
	padding: 10px 10px;
	border-radius: 20px;
	border: none;
	outline: none;
}

.important-label {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.important-label span {
	font-size: 18px;
}

.check {
	width: 20px;
	height: 20px;
}

.btn {
	border: none;
	padding: 10px 15px;
	color: black;
	border-radius: 20px;
	background-color: white;
	cursor: pointer;
	transition: 0.3s ease-in-out all;
}

.main-btn {
	font-size: 18px;
	background: rgb(87, 174, 87);
	color: white;
}

.delete-btn {
	background-color: rgb(255, 0, 0);
	color: white;
}

.delete-btn:hover {
	background: rgb(188, 5, 5);
}

.btn-imp:hover {
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
		rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.main-btn:hover {
	background-color: rgb(102, 186, 102);
}

.list-group {
	padding: 30px 0px;
	list-style: none;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0px;
	border-bottom: 1px solid rgb(215, 210, 210);
}

.content-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
