<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Задачник</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>План на день</h1>
			<form class="add-task" action="/add" method="post">
				<input
					class="main-input"
					type="text"
					name="name"
					placeholder="Новая задача"
					required
				/>
				<label class="important-label">
					<input class="check" type="checkbox" name="important" />
					<span>Важно</span>
				</label>
				<button class="btn main-btn" type="submit">Добавить</button>
			</form>
			<ul class="list-group">
				{% for task in tasks %}
				<li class="task">
					<div class="name-task">
						{% if task.important %}
						<strong style="color: red">[Важно]</strong>
						{% endif %} {{ task.name }} - {% if task.done %} ✅ {% else %} ⏳ {%
						endif %}
					</div>

					<div class="content-btn">
						<form method="post" action="/toggle/{{ task.id }}">
							<button class="btn" type="submit">
								{% if task.done %}⏳ Не выполнено{% else %} ✅ Выполнено {%
								endif %}
							</button>
						</form>

						<form
							action="/toggle-important/{{ task.id }}"
							method="post"
							style="display: inline"
						>
							<button class="btn btn-imp" type="submit">
								{% if task.important %}Снять важность{% else %}Сделать важной{%
								endif %}
							</button>
						</form>

						<form method="post" action="/delete/{{ task.id }}">
							<button class="btn delete-btn" type="submit">Удалить</button>
						</form>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
