<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Задачник</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Задачник</h1>
			<div class="sort-controls">
				<div class="sort-group">
					<span>Сортировка по дате:</span>
					<a
						href="/?sort_by_date=asc"
						class="btn {% if current_sort_date == 'asc' %}active{% endif %}"
						>↑ По возрастанию</a
					>
					<a
						href="/?sort_by_date=desc"
						class="btn {% if current_sort_date == 'desc' %}active{% endif %}"
						>↓ По убыванию</a
					>
				</div>
				<div class="sort-group">
					<span>Сортировка по важности:</span>
					<a
						href="/?sort_by_importance=asc"
						class="btn {% if current_sort_importance == 'asc' %}active{% endif %}"
						>↑ Сначала обычные</a
					>
					<a
						href="/?sort_by_importance=desc"
						class="btn {% if current_sort_importance == 'desc' %}active{% endif %}"
						>↓ Сначала важные</a
					>
				</div>
			</div>
			<form class="add-task" action="/add" method="post">
				<input
					class="main-input"
					type="text"
					name="name"
					placeholder="Новая задача"
					maxlength="255"
					required
				/>
				<label class="important-label">
					<input class="check" type="checkbox" name="important" />
					<span>Важно</span>
				</label>
				<button class="btn main-btn" type="submit">Добавить</button>
			</form>
			<ul class="list-group">
				{% for task in tasks %}
				<li class="task">
					<div class="name-task">
						{% if task.important %}
						<strong style="color: red">[Важно]</strong>
						{% endif %} {{ task.name }} - {% if task.done %} ✅ {% else %} ⏳ {%
						endif %}
						<span class="task-date">
							{{
							task.created_at.replace(tzinfo=timezone.utc).astimezone().strftime('%d.%m.%Y
							%H:%M') }}
						</span>
					</div>

					<div class="content-btn">
						<form method="post" action="/toggle/{{ task.id }}">
							<button class="btn" type="submit">
								{% if task.done %}⏳ Не выполнено{% else %} ✅ Выполнено {%
								endif %}
							</button>
						</form>

						<form
							action="/toggle-important/{{ task.id }}"
							method="post"
							style="display: inline"
						>
							<button class="btn btn-imp" type="submit">
								{% if task.important %}Снять важность{% else %}Сделать важной{%
								endif %}
							</button>
						</form>

						<form method="post" action="/delete/{{ task.id }}">
							<button class="btn delete-btn" type="submit">Удалить</button>
						</form>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
